@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
}
.header .navbar .header-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.header .navbar .header-top .navbar-search {
  display: flex;
  padding-left: 40px;
  gap: 20px;
}
.header .navbar .header-top .navbar-search .top-btn {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 14px 30px 15px 55px;
  background: #f188f2;
  border: 2px solid #f188f2;
  border-radius: 5px;
}
.header .navbar .header-top .navbar-search .arround {
  display: flex;
  gap: 10px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 15px 150px 17px 20px;
}
.header .navbar .header-top .navbar-search .arround .input {
  border: none;
}
.header .navbar .header-top .navbar-search .arround .input:focus {
  outline: none;
}
.header .navbar .header-top .contact {
  display: flex;
  align-items: center;
  padding-left: 60px;
  gap: 40px;
}
.header .navbar .header-top .contact ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
}
.header .navbar .header-top .contact ul .contact-list a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}
.header .navbar .header-top .contact ul .important a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  transition: 0.2s;
}
.header .navbar .header-top .contact ul .important a:hover {
  color: #fc42ff;
}
.header .navbar .header-bottom {
  display: flex;
  align-items: center;
}
.header .navbar .header-bottom .nav-item {
  padding-right: 50px;
}
.header .navbar .header-bottom .nav-item ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
}
.header .navbar .header-bottom .nav-item ul .nav-list a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.header .navbar .header-bottom .tell a {
  font-family: "Montserrat";
  text-decoration: none;
  align-items: center;
  padding-left: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #000000;
}
.header .navbar .header-bottom .bottom-img {
  padding-left: 30px;
  padding-right: 40px;
  display: flex;
  gap: 20px;
}
.header .navbar .header-bottom .text .textt {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}

.mainly #basket h3 {
  font-family: "Montserrat";
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.mainly #basket .wrapper {
  display: flex;
  gap: 60px;
}
.mainly #basket .wrapper .wrap-left {
  position: relative;
  flex: 0.6;
}
.mainly #basket .wrapper .wrap-left .left-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.mainly #basket .wrapper .wrap-left .composition {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.mainly #basket .wrapper .wrap-left .composition .day .day1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #3a3a3a;
}
.mainly #basket .wrapper .wrap-left .composition .day .days {
  margin-top: 80px;
  width: 100px;
  display: flex;
  gap: 20px;
  border: 1px solid #000000;
  border-radius: 12px;
  padding: 8px;
}
.mainly #basket .wrapper .wrap-left .composition .daytrue {
  display: flex;
  align-items: center;
  gap: 40px;
}
.mainly #basket .wrapper .wrap-left .composition .daytrue .true {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.mainly #basket .wrapper .wrap-left .composition .daytrue .false {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8b8b8b;
}
.mainly #basket .wrapper .wrap-right {
  flex: 0.4;
}
.mainly #basket .wrapper .wrap-right h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.mainly #basket .wrapper .wrap-right .quantity {
  display: flex;
  gap: 250px;
  margin-bottom: 20px;
}
.mainly #basket .wrapper .wrap-right .quantity .first {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.mainly #basket .wrapper .wrap-right .quantity .second {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.mainly #basket .wrapper .wrap-right .sum {
  display: flex;
  gap: 200px;
  margin-bottom: 20px;
}
.mainly #basket .wrapper .wrap-right .sum .summ {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.mainly #basket .wrapper .wrap-right .sum .money {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.mainly #basket .wrapper .wrap-right input {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
}
.mainly #basket .wrapper .wrap-right .link {
  margin-top: 60px;
}
.mainly #basket .wrapper .wrap-right .link a {
  background: #f188f2;
  border-radius: 17px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 200px;
}
.mainly #contact {
  margin-top: 40px;
  margin-bottom: 100px;
}
.mainly #contact .footer-wrap {
  display: flex;
  justify-content: space-between;
}
.mainly #contact .footer-wrap .wrap-left h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 30px;
}
.mainly #contact .footer-wrap .wrap-left .tell {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 70px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 35px;
}
.mainly #contact .footer-wrap .wrap-left .left-img {
  display: flex;
  gap: 70px;
}
.mainly #contact .footer-wrap .wrap-left .left-img .img-first {
  text-align: center;
}
.mainly #contact .footer-wrap .wrap-left .left-img p {
  margin-top: 11px;
}
.mainly #contact .footer-wrap .wrap-left .left-img .img-first a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #000000;
}
.mainly #contact .footer-wrap .wrap-left .left-img .img-second {
  text-align: center;
}
.mainly #contact .footer-wrap .wrap-left .left-img .img-second a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #000000;
}
.mainly #contact .footer-wrap .wrap-right h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 30px;
}
.mainly #contact .footer-wrap .wrap-right .right-ftext {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 20px;
}
.mainly #contact .footer-wrap .wrap-right .right-stext {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 2px;
}
.mainly #contact .footer-wrap .wrap-right .right-thtext {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #000000;
}