@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
}
.header .navbar .header-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.header .navbar .header-top .navbar-search {
  display: flex;
  padding-left: 40px;
  gap: 20px;
}
.header .navbar .header-top .navbar-search .top-btn {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 14px 30px 15px 55px;
  background: #f188f2;
  border: 2px solid #f188f2;
  border-radius: 5px;
}
.header .navbar .header-top .navbar-search .arround {
  display: flex;
  gap: 10px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 15px 150px 17px 20px;
}
.header .navbar .header-top .navbar-search .arround .input {
  border: none;
}
.header .navbar .header-top .navbar-search .arround .input:focus {
  outline: none;
}
.header .navbar .header-top .contact {
  display: flex;
  align-items: center;
  padding-left: 60px;
  gap: 40px;
}
.header .navbar .header-top .contact ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
}
.header .navbar .header-top .contact ul .contact-list a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}
.header .navbar .header-top .contact ul .important a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  transition: 0.2s;
}
.header .navbar .header-top .contact ul .important a:hover {
  color: #fc42ff;
}
.header .navbar .header-bottom {
  display: flex;
  align-items: center;
}
.header .navbar .header-bottom .nav-item {
  padding-right: 50px;
}
.header .navbar .header-bottom .nav-item ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
}
.header .navbar .header-bottom .nav-item ul .nav-list a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.header .navbar .header-bottom .tell a {
  font-family: "Montserrat";
  text-decoration: none;
  align-items: center;
  padding-left: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #000000;
}
.header .navbar .header-bottom .bottom-img {
  padding-left: 30px;
  padding-right: 40px;
  display: flex;
  gap: 20px;
}
.header .navbar .header-bottom .text .textt {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}

.mainly #composition p {
  font-family: "Montserrat";
  margin-top: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}
.mainly #composition h3 {
  font-family: "Montserrat";
  margin-top: 40px;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #3a3a3a;
}
.mainly #composition .cart {
  display: flex;
  margin-top: 30px;
  gap: 50px;
}
.mainly #composition .cart .image {
  width: 830px;
  height: 720px;
}
.mainly #composition .cart .add .add-top {
  display: flex;
  gap: 30px;
  align-items: center;
}
.mainly #composition .cart .add .add-top .true {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 70px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.mainly #composition .cart .add .add-top .false {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8b8b8b;
}
.mainly #composition .cart .add .add-top .red {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ff32a1;
}
.mainly #composition .cart .add .wrapper {
  margin-bottom: 70px;
  margin-top: 40px;
}
.mainly #composition .cart .add .wrapper a {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: #ffffff;
  background: #c949ca;
  border: 2px solid #c949ca;
  border-radius: 10px;
  text-decoration: none;
  padding: 25px 120px;
}
.mainly #composition .cart .add .new1 {
  border: 1px dashed #c0c0c0;
}
.mainly #composition .cart .add .latox1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.mainly #composition .cart .add .latox2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.mainly #composition .cart .add .latox3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}

#contact {
  margin-top: 40px;
  margin-bottom: 100px;
}
#contact .footer-wrap {
  display: flex;
  justify-content: space-between;
}
#contact .footer-wrap .wrap-left h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 30px;
}
#contact .footer-wrap .wrap-left .tell {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 70px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 35px;
}
#contact .footer-wrap .wrap-left .left-img {
  display: flex;
  gap: 70px;
}
#contact .footer-wrap .wrap-left .left-img .img-first {
  text-align: center;
}
#contact .footer-wrap .wrap-left .left-img p {
  margin-top: 11px;
}
#contact .footer-wrap .wrap-left .left-img .img-first a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #000000;
}
#contact .footer-wrap .wrap-left .left-img .img-second {
  text-align: center;
}
#contact .footer-wrap .wrap-left .left-img .img-second a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #000000;
}
#contact .footer-wrap .wrap-right h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 30px;
}
#contact .footer-wrap .wrap-right .right-ftext {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 20px;
}
#contact .footer-wrap .wrap-right .right-stext {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 2px;
}
#contact .footer-wrap .wrap-right .right-thtext {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #000000;
}